@font-face {
	font-family: 'MyWebFont';
	src: url('InterstateLightCondensed.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body {
	font-family: 'MyWebFont', Fallback, sans-serif;
	margin: 0;
	padding: 0;
}


/*connect***************************/
#connect {
	margin-top: 15px;
	text-align: center;
	background-color: #fff;
}
#connect img {
	display: block;
	margin: 0 auto;
}
#connect .logo-white {
	padding-bottom: 15px;
	background-color: #fff;
}
#connect p {
	margin: 0;
	color: #fff;
	background-color: #000;
	padding-bottom: 21px;
}
#connect .social a {
	display: inline-block;
}
#connect .social ul {
	margin:0;
	padding:0;
}
#connect .social ul li {
	display: inline-block;
}

#connect .circle {
	display: inline-block;
}
#connect .analyzebutton {
	padding: 23px 61px;
	background-color: #ebebeb;
	font-size: 17px;
	margin-bottom: 48px;
	border: none;
	margin-top: 39px;
}

.circle {
	width: 17px;
	height: 17px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle.green {
	background: #00ff00;
}
.circle.gray {
	background: lightgray;
}

.social-1-off {
	background: url(images/social_1.jpg) no-repeat;
	background-size: 75px 78px;
	width: 75px;
	height: 78px;
} 
.social-1-on {
	background: url(images/social_1_on.jpg) no-repeat;
	background-size: 75px 78px;
	width: 75px;
	height: 78px;
} 
.social-2-off {
	background: url(images/social_2.jpg) no-repeat;
	background-size: 75px 78px;
	width: 75px;
	height: 78px;
} 
.social-2-on {
	background: url(images/social_2_on.jpg) no-repeat;
	background-size: 75px 78px;
	width: 75px;
	height: 78px;
} 
.social-3-off {
	background: url(images/social_3.jpg) no-repeat;
	background-size: 75px 78px;
	width: 75px;
	height: 78px;
} 
.social-3-on {
	background: url(images/social_3_on.jpg) no-repeat;
	background-size: 75px 78px;
	width: 75px;
	height: 78px;
} 
.social-4-off {
	background: url(images/social_4.jpg) no-repeat;
	background-size: 75px 78px;
	width: 75px;
	height: 78px;
} 
.social-4-on {
	background: url(images/social_4_on.jpg) no-repeat;
	background-size: 75px 78px;
	width: 75px;
	height: 78px;
} 



