body {
	margin: 0;
	padding: 0;
}
#home{
	padding-top: 86px;
	text-align: center;
	background-color: #000;
}
#home img {
	display: block;
	margin: 0 auto;
}
#home button {
	border: none;
	color: #fff;
}
#page2 {
	display: none;
}

.redbutton {
	background-color: #c60b2b;

}
