/*common*/
.rangeslider, .rangeslider__fill {
	background: initial!important;
	box-shadow: none!important;
}

@font-face {
	font-family: 'MyWebFont';
	src: url('InterstateLightCondensed.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body {
	font-family: 'MyWebFont', Fallback, sans-serif;
	margin: 0;
	padding: 0;
}
#result {
	margin-top: 15px;
}
.logo-white {
	padding-bottom: 15px;
	text-align: center;
}
.gray-line {
	background-color: #bfbfbf;
}
.top-text {
	margin: 0 15px;
	position: relative;
	overflow: auto;
	height: 73px;
}
.top-text img {
	position: absolute;
	left: 1px;
	top: 2px;
}
.top-text p {
	background-color: #252525;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	font-size: 11px;
	text-align: left;
	padding: 10px 0 10px 32px;
	margin: 14px 0 0 47px;
}
/*pants slider******************************************/
.swiper-container {
	width: 375px;
	height: 400px;
} 
.swiper-slide {
	text-align: center;
}
.swiper-button-prev {
	height: 60px!important;
	width: 41px!important;
	background-image: url(images/prev.png)!important;
	background-size: 41px 60px!important;
}
.swiper-button-next {
	height: 60px!important;
	width: 41px!important;
	background-image: url(images/next.png)!important;
	background-size: 41px 60px!important;
}
.sticky-pants {
	margin-left: 21px;
	z-index: 10;
	position: absolute;

}
.sticky-pants img {
	margin-top: 20px;
}
#type {
	/*margin-bottom: 70px;*/
}
.type-label {
	text-align: center;
}

/*pants color******************************************/
#color {
	margin: 0 23px 0;
}
#color h3 {
	text-align: right;
}

.range {
	background-color: #252525;
	padding: 20px 0 20px 22px;
	position: relative;
}
.rcircle {
	width: 10px;
	height: 10px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 20px;
	background: #959595;
	display: inline-block;
	margin-right: 20px;
}
.red-line {
	margin: 50px 0;
	background-color: #ff5555;
}

#js-rangeslider-0, #js-rangeslider-1, #js-rangeslider-3 {
	top: 23px;
	left: 10px;
	position: absolute;
	max-width: 308px;
}
#js-rangeslider-0 .rangeslider__handle, #js-rangeslider-1 .rangeslider__handle, #js-rangeslider-3 .rangeslider__handle {
	height: 30px;
	width: 30px;
	border: none;
}
.swiper-container-color {
	margin-top: -54px;
}



/*pants distress******************************************/
#distress {
	margin: 0 23px 79px;
}
#distress h3 {
	text-align: right;
}
.swipe-area {
	height: 241px;
	width: 336px;
	position: absolute;
}
.scratch-area {
	height: 360px;
	background-size: 325px 324px;
	background-repeat: no-repeat;
}
.needle {
	margin-top: 249px;
	margin-right: 144px;
}
.cutter {
	margin-top: 249px;
}
.needle-1 {
	background-image: url(images/distress_1.png);
}
.needle-2 {
	background-image: url(images/distress_2.png);
}
.needle-3 {
	background-image: url(images/distress_3.png);
}
.cutter-1 {
	background-image: url(images/distress_4.png);
}
.cutter-2 {
	background-image: url(images/distress_5.png);
}
.swiper-container-distress {
	position: relative;
}
.swiper-container-distress .controls {
	position: absolute;
	z-index: 10;
	bottom: 1px;
}
.swiper-container-distress .needleB {
	margin-right: 144px;
}

/*pants thread******************************************/
#thread {
	position: relative;
	margin-bottom: 59px;
	overflow: auto;s
}
#thread .col1 {
	float: left;
	width: 253px;
}
#thread .col2 {
	position: relative;
	float: left;
	width: 122px;
	background: url(images/thread_right.png) no-repeat;
	background-size: 122px 434px;
	height: 440px;
}
#js-rangeslider-2 {
	top: 129px;
	left: 35px;
	position: absolute;
	min-height: 245px;
}
#js-rangeslider-2 .rangeslider__handle{
	border: none!important;
	height: 4px;
	width: 60px;
	background-color: #c60b2b;
	border-radius: initial!important;
}
#js-rangeslider-2 .rangeslider__handle:after{
	display: none;
}

/*pocket*/
#pocket {
	text-align: center;
	position: relative;
	overflow: auto;
	margin-bottom: 59px;
}
#pocket .song {
	border: none;
	overflow: auto;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	width: 140px;
	text-align: center;
	height: 50px;
}
#pocket h3 {
	text-align: right;
	margin-right: 23px;
}
#pocket .range {
	margin: 0 23px;
}
#pocket .shuffle {
	display: block;
	margin: 20px auto;
}
/*rivet*/
#rivet {
	position: relative;
	overflow: auto;
	margin-bottom: 59px
}
#rivet h3 {
	text-align: right;
	margin-right: 23px;
}
#rivet .boxes {
	background-color: gray;
	text-align: center;
}
#rivet .boxes div {
	display: inline-block;
	margin: 7px 15px 5px;
	padding: 23px;
}
#rivet .box1 {
	background-color: red;
}
#rivet .box2 {
	background-color: green;
}
#rivet .box3 {
	background-color: orange;
}
#rivet .box4 {
	background-color: purple;
}

/*m3*/
#m3 {

}

#m3 h3 {
	text-align: right;
	margin-right: 23px;
}

/*tab*/
#tab {

}
#tab h3 {
	text-align: right;
	margin-right: 23px;
}

/*final*/
#final {

}
#final h3 {
	text-align: right;
	margin-right: 23px;
}




