@font-face {
	font-family: 'MyWebFont';
	src: url('InterstateLightCondensed.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body {
	font-family: 'MyWebFont', Fallback, sans-serif;
	margin: 0;
	padding: 0;
}
#result {
	margin-top: 15px;
}
.logo-white {
	padding-bottom: 15px;
	text-align: center;
}
.gray-line {
	background-color: #bfbfbf;
}
.top-text {
	margin: 0 15px;
	position: relative;
	overflow: auto;
	height: 73px;
}
.top-text img {
	position: absolute;
	left: 1px;
	top: 2px;
}
.top-text p {
	background-color: #252525;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	font-size: 11px;
	text-align: left;
	padding: 10px 0 10px 32px;
	margin: 14px 0 0 47px;
}
.swiper-container {
	width: 375px;
	height: 400px;
} 
.swiper-slide {
	text-align: center;
}
.swiper-button-prev {
	height: 60px!important;
	width: 41px!important;
	background-image: url(images/prev.png)!important;
	background-size: 41px 60px!important;
}
.swiper-button-next {
	height: 60px!important;
	width: 41px!important;
	background-image: url(images/next.png)!important;
	background-size: 41px 60px!important;
}
.type-label {
	text-align: center;
}