@font-face {
	font-family: 'MyWebFont';
	src: url('InterstateLightCondensed.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body {
	font-family: 'MyWebFont', Fallback, sans-serif;
	margin: 0;
	padding: 0;
}
#result {
	margin-top: 15px;
	background: url(images/type_bg.png) no-repeat;
	background-size: 375px 380px;
	background-position-y: 480px;
	height: 1731px;
}
.logo-white {
	padding-bottom: 15px;
	text-align: center;
}
.gray-line {
	background-color: #bfbfbf;
}
.top-text {
	margin: 0 15px;
	position: relative;
	overflow: auto;
	height: 73px;
}
.top-text img {
	position: absolute;
	left: 1px;
	top: 2px;
}
.top-text p {
	background-color: #252525;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	font-size: 11px;
	text-align: left;
	padding: 10px 0 10px 32px;
	margin: 14px 0 0 47px;
}
/*pants slider******************************************/
.swiper-container {
	width: 375px;
	height: 400px;
} 
.swiper-slide {
	text-align: center;
}
.swiper-button-prev {
	height: 60px!important;
	width: 41px!important;
	background-image: url(images/prev.png)!important;
	background-size: 41px 60px!important;
}
.swiper-button-next {
	height: 60px!important;
	width: 41px!important;
	background-image: url(images/next.png)!important;
	background-size: 41px 60px!important;
}
.sticky-pants {
	margin-left: 21px;
}
.sticky-pants img {
	margin-top: 20px;
}
#type {
	margin-bottom: 70px;
}
.type-label {
	text-align: center;
}

/*pants color******************************************/
#color {
	margin: 120px 23px 0;
}
#color h3 {
	text-align: right;
}

/*pants distress******************************************/
.range {
	background-color: #252525;
	padding: 20px 0 20px 16px;
	position: relative;
}
.rcircle {
	width: 10px;
	height: 10px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 20px;
	background: #959595;
	display: inline-block;
	margin-right: 20px;
}
#slider-bright {
	position: absolute;
	top: 7px;
	left: 1px;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 10px;
  width: 308px;
  background-color:rgba(0,0,0,0);
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}






